.timer-container{
  border: solid;
  margin: 20%;
  text-align: center;
  font-size: xx-large;
  display: flex;
  justify-content: center;
}
.timer-container p {
  margin: 15px;
  color:rgba(0, 0, 0, 0.568) ;
  text-align: center;
  font-size:15px;
 
}
.timer-container h1{
  text-align: center;
  margin: 15px;
  font-weight: 400;
  
 
}